.button {
    text-transform: uppercase;
    font-weight: $weight-bold;
    letter-spacing: 0.03em;
}

abbr {
    text-decoration: none;
}

.breadcrumb {
    margin-top: $size-5;
}

.has-text-primary {
    // Primary in color array is darker... this is mostly for logo consistancy
    color: $primary !important;
}